<div nz-row class="task">
  <div class="checkboxStatus" nz-col nzSpan="2">
    <label nz-checkbox [nzChecked]="task.status == taskCompleted"></label>
  </div>
  <div class="task-info" nz-col nzSpan="22">
    <h5 nz-typography>
      {{ task.title }}
      <button nz-button nzType="text" (click)="editTask()">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="text"
        nz-popconfirm
        nzPopconfirmTitle="Seguro que quieres eliminar esta tarea?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirm()"
        (nzOnCancel)="cancel()"
      >
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    </h5>
    <p>{{ task.description }}</p>
  </div>
</div>
