<!-- Header -->
<app-header/>

<div class="container">
  <!-- Filter and sort by -->
  <div nz-row [nzGutter]="[24, 24]">
    <div nz-col nzXs="24" nzSm="18" class="selectContainer">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Seleccione un estado"
        [(ngModel)]="selectStatus"
        (ngModelChange)="onStatusChange($event)"
      >
        <nz-option
          *ngFor="let status of filterOptions"
          nzLabel="{{ status }}"
          nzValue="{{ status }}"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col nzXs="24" nzSm="6" class="buttonContainer">
      <button nz-button nzType="primary" (click)="toggleSortOrder()">
        <span
          nz-icon
          [nzType]="sortedByPendingFirst ? 'up' : 'down'"
          nzTheme="outline"
        ></span>
        Ordenar
      </button>
    </div>
  </div>

  <ng-container *ngIf="filteredTaskList.length >= 1; else noTask">
    <div nz-row>
      <h4 nz-typography nz-col nzSpan="24" class="title-taskList">{{ taskListTitle | taskTitle }}</h4>
    </div>
    <app-task-list
      [taskList]="filteredTaskList"
      (editTaskEvent)="openToEditTaskForm($event)"
      (deleteTaskEvent)="deleteTask($event)"
      (taskStatusChanged)="changeTaskStatus($event)"
    ></app-task-list>
  </ng-container>
  <ng-template #noTask>
    <app-no-tasks></app-no-tasks>
  </ng-template>

  <!-- Add task -->
  <div class="fab-add-task">
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
        nzSize="large"
      (click)="openToAddNewTaskForm()"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </div>

  <!-- Task Form -->
  <app-task-form
    (submitTaskEvent)="registerNewOrUpdatedTask($event)"
  ></app-task-form>
</div>
