<!-- Header -->
<header>
  TODO List
</header>
<div class="container">
  <!-- Filter and sort by -->
  <div nz-row>
    <div nz-col nzSpan="18" class="selectContainer">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Seleccione un estado"
        [(ngModel)]="selectStatus"
      >
        <nz-option
          *ngFor="let status of filterOptions"
          nzLabel="{{ status }}"
          nzValue="{{ status }}"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col nzSpan="6">
      <button nz-button nzType="primary">
        <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>
        Ordenar
      </button>
    </div>
  </div>

  <ng-container *ngIf="taskList.length >= 1; else noTask">
    <app-task-list [taskList]="taskList" (editTaskEvent)="openToEditTaskForm($event)"></app-task-list>
  </ng-container>
  <ng-template #noTask>
    <h3>No hay tareas para mostrar</h3>
  </ng-template>

    <!-- Add task -->
    <!-- TODO: Llamar al Drawer para crear la nueva tarea -->
    <div class="fab-add-task">
      <button nz-button nzType="primary" nzShape="circle" (click)="openToAddNewTaskForm()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>

    <!-- Task Form -->
      <app-task-form (submitTaskEvent)="registerNewOrUpdatedTask($event)"></app-task-form>
</div>


<!-- Footer -->
<footer>
  <p>Created by: Reiwil Lugo<br>
  <a href="mailto:reiwillugo@gmail.com">reiwillugo@gmail.com</a></p>
</footer>
